
<div class="face-snap-card">
  <h2>🖼️ {{ faceSnap.title }}</h2>
    <p>Mis en ligne le 📅 {{ faceSnap.createdDate }}</p>
    <img  [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p [ngClass]="{'toggle-text':knowMore===true}" class="content">{{ faceSnap.description }}</p>
    <p class="source">
      <span *ngIf="faceSnap.location">Photo prise à <strong>{{ faceSnap.location }}.</strong></span>
      <a  (click)="onToggle()">{{switchMessage}}</a>
    </p>
    <p class="reaction flex-snap">
      <button (click)="onSnap()">{{buttonText}}</button>
      <span [ngStyle]="{background:'rgba(122, 55, 215,'+0.005*faceSnap.snaps+0.5+')'}" class="reactionsText">{{ faceSnap.snaps }} 🧑‍🤝‍🧑réactions.</span>
    </p>
</div>
